{% extends "base.html" %}


{% block content %}


<br><br>


<h2>  Charity ID {{mynum}} - Products for sale:</h2>
<table class='table table-hover table-bordered container'>
 <thead class="thead-dark">
   <tr>
     <th scope="col">Product ID</th>
     <th scope="col">Product Name</th>
     <th scope="col">Starting Bid</th>
     <th scope="col">Buy Now</th>
     <th scope="col">Category</th>
     <th scope="col">Expiration</th>
     <th scope="col">Image</th>
     <th scope="col">Rating</th>
     <th scope="col">Actions</th>
   </tr>
 </thead>
 <tbody>
   {% for product in avail_products %}
   <tr>
     <th scope="row">{{ product.id }}</th>
     <td>{{ product.name }}</td>
     <td>{{ product.starting_bid }}</td>
     <td>{{ product.buy_now }}</td>
     <td>{{ product.catergory }}</td>
     <td>{{ product.expiration }}</td>
     <td>{{ product.image }}</td>
     <td>{{ product.rating }}</td>
     <td>
       <form action="{{ url_for('purchased.purchased_add', product_id=product.id) }}" method="POST">
         <input type="submit" value="Purchase" />
       </form>
     </td>
   </tr>
   {% endfor %}
 </tbody>
</table>


{% endblock %}
