{% extends "base.html" %}


{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<h1>{{msg}}</h1>
{% endfor %}
{% endif %}
{% endwith %}
<div class="container">
   <div class="row">
       <div class="col-md-6">
           <h1>{{ product.name }}</h1>
           <img src="{{ product.image }}" alt="{{ product.name }}" width="300">
           <p>Product Expiry Date: {{ product.expiration }}</p>
           <p>Charity: <a href="{{ url_for('index.charity_info', charity_id=charity_id) }}">{{ charity_name }}</a></p>


       </div>
       <div class="col-md-6">
           <div class="current-bid">
               <p>Current Bid Price: ${{ max_bid }}</p>


               <form method="POST" action="{{ url_for('products.product_info', product_id=product.id) }}">
                   <label for="bidAmount">Place Your Bid:</label>
                   <input type="number" id="bidAmount" name="bidAmount" placeholder="Enter your bid" required>
                   <button type="submit">Submit Bid</button>
                   <input type="hidden" name="action" value="bid">
               </form>
               <form action="{{ url_for('purchased.purchased_add', product_id=product.id) }}" method="POST">
                   <input type="submit" class="btn btn-primary" value="Buy Now" />
                   <p>Current Buy Now Price: ${{ product.buy_now }}</p>
               </form>
           </div>
       </div>
   </div>
   <div>
       <h3>Your Review</h3>


       {% if isNewReview %}


       <p>You have no reviews so <a href="{{ url_for('reviews.addReview', id=product.id)}}">
               {{ 'write one dummy!'}}
           </a></p>
       {% else %}
       <table class='table table-hover table-bordered container'>
           <thead class="thead-dark">
               <tr>
                   <th scope="col">Rating</th>
                   <th scope="col">Review</th>
                   <th scope="col">Last posted</th>
                   <th scope="col">Update/Delete</th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>{% for i in range(my_review.rating) %}⭐{% endfor %}</td>
                   <td>{{my_review.feedback}}</td>
                   <td>{{my_review.date_posted}}</td>
                   <td>
                       <a href="{{ url_for('reviews.addReview', id=product.id)}}">Update review</a>
                       <br> <br>
                       <form action="" id="delete_review" method="post">
                           <input type="hidden" name="action" value="delete_review">
                           <input type="hidden" name="review_id" value="{{ my_review.id }}">
                           <button type="submit" class="btn btn-danger">Delete</button>
                       </form>


                   </td>
               </tr>
           </tbody>
       </table>


       {% endif %}
   </div>
   <div>
       <h2>Product Review Summary:</h2>
       <p>There is/are {{total}} review(s) with an average rating of {{average}} ⭐</p>
       <table class='table table-hover table-bordered container'>
           <thead class="thead-dark">
               <tr>
                   <th scope="col">Product ID</th>
                   <th scope="col">User ID</th>
                   <th scope="col">Rating</th>
                   <th scope="col">Review</th>
                   <th scope="col">Last posted</th>
                   <th scope="col">Upvotes</th>
                   <th scope="col">Vote</th>
               </tr>
           </thead>
           <tbody>
               {% set reviews_per_page = 5 %}
               {% set start_index = (page - 1) * reviews_per_page %}
               {% set end_index = start_index + reviews_per_page %}


               {% for i in range(start_index, end_index) %}
               {% if i < product_reviews|length %} {% set review=product_reviews[i] %}
               <tr>
                   <th scope="row">{{review.pid}}</th>
                   <td>{{review.uid}}</td>
                   <td>{% for i in range(review.rating) %}⭐{% endfor %}</td>
                   <td>{{review.feedback}}</td>
                   <td>{{review.date_posted}}</td>
                   <td>{{review.upvote}}</td>
                   <td>
                       {% if current_user.is_authenticated %}
                       <form action="/product/{{review.pid}}" id="upvote_form" method="post">
                           <input type="hidden" name="action" value="upvote">
                           <input type="hidden" name="likes" value="{{ review.upvote }}">
                           <input type="hidden" name="review_id" value="{{ review.id }}">
                           <button type="submit" class="btn btn-link">
                      
                               <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                   class="bi bi-chevron-up {{ 'text-primary' if review.isVoted(current_user.id) == 1 else 'text-muted' }}"
                                   viewBox="0 0 16 16">
                                   class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                   <path
                                       d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                               </svg>
                           </button>
                       </form>
                      
                       <form action="/product/{{review.pid}}" id="down_vote_form" method="post">
                           <input type="hidden" name="action" value="downvote">
                           <input type="hidden" name="likes" value="{{ review.upvote }}">
                           <input type="hidden" name="review_id" value="{{ review.id }}">
                           <button type="submit" class="btn btn-link">
                      
                               <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                   class="bi bi-chevron-down {{ 'text-primary' if review.isVoted(current_user.id) == -1 else 'text-muted' }}"
                                   viewBox="0 0 16 16">
                                   <path
                                       d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                               </svg>
                      
                           </button>
                       </form>
                       {# {% if i.buyer_id == current_user.id %}#}
                       {# <form action="/product/{{review.pid}}" id="review_delete_form" #} {# method="post">#}
                           {# <input type="hidden" id="action" name="action" value="delete_review">#}
                           {# <input type="hidden" name="review_id" value="{{ i.id }}">#}
                           {# <input type="submit" value="Delete" class="btn btn-dark">#}
                           {# </form>#}
                       {# {% endif %}#}
                       {% endif %}


                   </td>
               </tr>
               {% endif %}
               {% endfor %}
           </tbody>
       </table>


       <div class="container">
           <ul class="pagination">
               {% set total_pages = (product_reviews|length + reviews_per_page - 1) // reviews_per_page %}
               {% set max_pages_shown = 5 %} {# Adjust the number of page links to display #}
               {% set half_max_pages_shown = (max_pages_shown // 2) %}
      
               {# Previous button #}
               <li class="page-item {% if page == 1 %}disabled{% endif %}">
                   <a class="page-link" href="?page={{ page - 1 }}" aria-label="Previous">
                       <span aria-hidden="true">&laquo;</span>
                   </a>
               </li>
      
               {# Page links #}
               {% for page_num in range(1, total_pages + 1) %}
               {% if page_num == page or (page_num >= page - half_max_pages_shown and page_num <= page + half_max_pages_shown)
                   %} <li class="page-item {% if page == page_num %}active{% endif %}">
                   <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                   </li>
                   {% endif %}
                   {% endfor %}
      
                   {# Next button #}
                   <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                       <a class="page-link" href="?page={{ page + 1 }}" aria-label="Next">
                           <span aria-hidden="true">&raquo;</span>
                       </a>
                   </li>
           </ul>
       </div>
   </div>


</div>
{% endblock %}
