{% extends "base.html" %}

{% block content %}

<br><br>

<br><br>
{% if current_user.is_authenticated %}
<h2>Recent Purchases:</h2>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Date of Purchase</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchase_history%}
        <tr>

            <th scope="row"><a
                    href="{{ url_for('products.product_info', product_id=purchase.pid) }}">{{purchase.name}}</a>
            </th>

            <th scope="row">{{purchase.price}}</th>
            <td>{{humanize_time(purchase.time_purchased)}}</td>
            <td>Unfullfilled</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Recent Bids:</h2>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Time of Bid</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for bid in bid_history%}
        <tr>

            <th scope="row">{{bid.product_name}}</th>
            <td>{{bid.amount}}</td>
            <td>{{humanize_time(bid.bidtime)}}</td>
            <td>Unfullfilled</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}