{% extends "base.html" %}

{% block content %}

<h1>Register</h1>

<form action="" method="post" id="registration-form">
  {{ form.hidden_tag() }}
  <p>
    {{ form.firstname.label }}<br/>
    {{ form.firstname(size=32) }}<br/>
    {% for error in form.firstname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.lastname.label }}<br/>
    {{ form.lastname(size=32) }}<br/>
    {% for error in form.lastname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.email.label }} (Could be fake email address)<br/>
    {{ form.email(size=64) }}<br/>
    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>


  <p>
    {{ form.address.label }} <br/>
    {{ form.address(size=64) }}<br/>
    {% for error in form.address.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>


  <p>
    {{ form.password.label }}<br/>
    {{ form.password(size=32) }}<br/>
    {% for error in form.password.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password2.label }}<br/>
    {{ form.password2(size=32) }}<br/>
    {% for error in form.password2.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>

  <p> 
    {{ form.is_charity.label }}<br/>
    {{ form.is_charity() }} Register as Charity<br/>
  </p>

  <div id="charity-fields" style="display: none;">
    <p>
      {{ form.charity_name.label }}<br/>
      {{ form.charity_name(size=64) }}<br/>
      {% for error in form.charity_name.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
  </div>

  <p>{{ form.submit() }}</p>
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    $('#registration-form input[name="is_charity"]').change(function() {
      if ($(this).is(':checked')) {
        $('#charity-fields').show();
      } else {
        $('#charity-fields').hide();
      }
    });
  });
</script>

{% endblock %}
